* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url('Inter-VariableFont_slnt,wght.ttf');
}

/* Configurações para computadores */
@media only screen and (min-width: 769px) {
    body {
        display: flex;
        flex-direction: row;
        font-family: Inter, sans-serif;
        background-color: #00378b;
        width: 99vw;
    }

    #img-div {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        overflow: hidden;
        background-image: url("foto.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
    }

    #brasao {
        max-width: 100%;
        margin: auto;
    }

    #conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50vw;
        height: auto;
        min-height: 100vh;
        margin-left: 51vw;
        overflow: visible;
        padding: 10px;
    }

    #titulo {
        text-align: center;
        color: azure;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
    }

    .botao {
        color: #00378b;
        background-color: azure;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6%;
        height: auto;
        min-height: 50px;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        word-break: break-all;
    }

    footer {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Configurações para celular  e tablet*/
@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00378b;
        height:100vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(foto.jpg);
        background-size: 100%;
        max-width: 100%;
        margin: 1%;
    }
    
    #titulo {
        text-shadow: 0px 0px 5px white;
    }

    #brasao {
        max-height: 70%;
        max-width: 30%;
        align-items: center;
    }

    #descricao {
        text-align: center;
        margin: 1%;
    }

    nav {
        border-style: solid;
        border-width: 1px;
        width: 98%;
        text-align: center;
        margin: auto;
    }

    .botao {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6%;
        height: 50px;
        text-decoration: none;
        text-align: center;
    }

    footer {
        margin-top: auto;
    }
}